#container {
    color: #566573;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    display: block;
    font-family: 'Prompt', sans-serif;
}

#flip {
    height: 70px;
    overflow: hidden;
}

#flip>div>div {
    /* color:#fff; */
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    /* animation: show 5s linear infinite; */
    animation: show 5s linear;
}

#flip div div {
    /* background:#C39BD3;
    border-radius: 5px;
    box-shadow: 0 5px #999; */
    font-size: 40px;
    color:#C39BD3;
}

#flip div:first-child div {
    /* background: #F5B041;
    border-radius: 5px;
    box-shadow: 0 5px #999; */
    color :#F5B041;
}

#flip div:last-child div {
    /* background: #76D7C4;
    border-radius: 5px;
    box-shadow: 0 5px #999; */
    color: #76D7C4;
}

@keyframes show {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -270px;
    }
}